@font-face {
	font-family: "Bodega Sans";
	src: url("../fonts/BodegaSans_Black.ttf");
}

/* GLOBAL */
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html{
    font-size: 62.5;
}
body{
    font-family: "Open Sans",arial, sans serif ;
    font-size:1.6em ;
    line-height: 2;
    color: white;
    background-color: #444 ;
    background-image: url("../img/bg_body.svg");
}
h1, h2, h3{
    font-family: "Bodega Sans", Arial, sans serif;
    font-weight: normal;
    text-transform: uppercase;
}
h1{
    font-size: 4rem;
    text-align: center;
}
.container{
    max-width: 1500px;
    padding: 25px;
    margin: 0 auto;
}
.orange{
    color: #FF9D00;
}
ul{
    margin-left: -40px;

}
/*NAVIGATION*/

header{
    background: -moz-linear-gradient(130deg, white 0%, white 50%, #333 50%, #333 100%);
	background: -webkit-linear-gradient(130deg, white 0%, white 50%, #333 50%, #333 100%);
	background: linear-gradient(130deg, white 0%, white 50%, #333 50%, #333 100%);
	box-shadow: 0 0 25px rgba(0,0,0,0.2);
}
nav{
    padding: 25px;
    line-height: 1.5;
    text-align: right;
    font-family: "Bodega Sans", arial, sans serif;
}
nav a{
    color: white ;
    display: block;
    font-size: 2.5rem;
    text-decoration: none;
    padding: 10px;
}
nav a:hover{
    color: #FF9D00;
}
#logo{
    float: left;
}
#logo img{
    width: 100%;
}
/*SLIDER*/
.slider{
    padding: 10px;
    background-color: white;
    margin: 50px auto 0;
    box-shadow: 0 0 25px rdga(0,0,0,0.2);
}
.flexslider{
    margin: 0;
    border: 0;
}
main h2{
    border-top: 3px solid rgda(0,0,0,0.075);
    border-left: 3px solid rgda(0,0,0,0075);
    padding: 10px 30px;
    font-size: 3rem;
    margin: 50px 0 25px;
letter-spacing: 1px;
}
.work article {
    background-color: white;
    display: inline-block;
    text-align: center;
    color: #666;
    width: 22%;
    padding: 0 20px 20px;
}
.work article + article{
    margin-left: 4%;
}
.work h3{
    font-weight: normal;
    color: #FF9D00;
    border-bottom: 2px solid #FF9D00;
    margin: -10px 0 20px;
    font-size: 2.5em;
}
.work img{
    max-width: 100%;
    display: block;
}

.work a{
    display: block;
    width: 100%;
    background-color: #FF9D00;
    color: white;
    margin-top: 10px;
    padding: 10px;
    text-decoration: none;
}
.media article{
    width: 49%;
    display: inline-block;
    vertical-align: top;
}